header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  

body {
    background-color: aqua;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
