body {
  font-family: 'Questrial';
  background-color: #c4fbff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #98CFED;
  padding: 10px;
  color: black;
  height: 80px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
}

header img {
  width: 150px;
  height: auto;
}

footer {
  background-color: white;
  padding: 10px;
  color: black;
  height: 50px;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.container {
  width: 500px;
  margin: 130px auto 80px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.largecontainer {
  width: 1000px;
  margin: 100px auto 80px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

h2 {
  text-align: center;
}

h3 {
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #c4fbff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.dropdown{
  width: 100px;
}

.nav-links li{
  display: inline-block;
  position: relative;
  margin: 0 15px;
}
.nav-links li a{
  font-weight: bold;
  font-size: 1.1rem;
}
.nav-links li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #000;
  display: block;
  margin: auto;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  transition: 0.7s;
}
.nav-links li:hover::after{
  width: 100%
}