header {
    background-color: #ffffff;
    text-align: center;
    font-size: 35px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    background-color: aqua;
    margin-top: 100px;
    margin-bottom: 40px;
}

footer {
    background-color: white;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
